{% block content %}

    {% load crispy_forms_tags %}

    {#    <!--Register-->#}
    {#    <div class="container py-5">#}
    {#        <h1>Register</h1>#}
    {#        <form method="POST">#}
    {#            {% csrf_token %}#}
    {#            {{ register_form|crispy }}#}
    {#            <button class="btn btn-primary" type="submit">Register</button>#}
    {#        </form>#}
    {#        <p class="text-center">If you already have an account, <a href="/login_account">login</a> instead.</p>#}
    {#    </div>#}



    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Sign up</title>
        <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">-->

        <!-- Bootstrap CSS (jsDelivr CDN)-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
              crossorigin="anonymous">
        <!-- Bootstrap Bundle JS (jsDelivr CDN) -->
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>

    </head>
    <body>
    <div class="container py-3">

        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal">Sign up</h1>
        </div>
        <form method="POST">

            <div class="row justify-content-center">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                        <!-- Username and email input -->
                        <div class="form-outline mb-4">
                            {% csrf_token %}
                        </div>
                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            {{ register_form|crispy }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Submit button -->
            <div class="row justify-content-center">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">

                        <div class="row row-cols-1 row-cols-md-2 mb-2 text-center">
                            <div class="col">
                                <a href="/" role="button" class="w-100 btn btn-lg btn-success">Back</a>
                            </div>
                            <div class="col">
                                <button type="submit" role="button" class="w-100 btn btn-lg btn-outline-success">Create my account</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    </body>
    </html>
{% endblock %}
