/*.wrap{*/
/*  position: relative;*/
/*}*/

/*.container-buttons button{display:inline-block; *display:inline; zoom:1; vertical-align:top;}*/
/*.container-buttons{text-align:justify;}*/
/*.container-buttons:after{display:inline-block; *display:inline; zoom:1;  width:100%; content:"";}*/

